<app-menu></app-menu>

<router-outlet></router-outlet>

<footer class="footer bg-light">
    <div class="d-flex align-items-end flex-column">
        <span class="text-muted p-2">by notdefine@gmx.de Thomas Eimers</span>
    </div>
</footer>
