<carousel [interval]="switchInterval" [noWrap]="noWrapSlides">
    <slide *ngFor="let imageUrl of imagesUrls">
        <img src="{{ imageUrl }}" alt="{{ imageUrl }}" style="display: block; width: 100%;">
    </slide>
</carousel>


<div class="d-flex align-items-center flex-column bg-light">
    <label class="text-muted p-2"><input type="checkbox" [(ngModel)]="noWrapSlides" (click)="toggleSwitch()">Disable Slide Looping</label>
</div>

