<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{title}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalService.hide">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="inputSensorId">Database id</label>
                <input type="text" [(ngModel)]="sensor.id" class="form-control" id="inputSensorId"
                       aria-describedby="inputSensorIdHelp" placeholder="Enter id">
                <small id="inputSensorIdHelp" class="form-text text-muted">This is the internal database primary
                    key of this config. Only id 1-10 are tracked in the flow diagram.
                </small>
            </div>
            <div class="form-group">
                <label for="inputSensorName">Sensorname</label>
                <input type="text" [(ngModel)]="sensor.name" class="form-control" id="inputSensorName"
                       placeholder="Password" aria-describedby="inputSensorNameHelp">
                <small id="inputSensorNameHelp" class="form-text text-muted">This is the human readable
                    description for this sensor. It is used in the diagram and GUI.
                </small>
            </div>


            <div class="form-group">
                <label for="inputSensorValue">Current sensorvalue</label>
                <input type="text" value="{{sensor.value}}" class="form-control" id="inputSensorValue"
                       readonly>
            </div>

            <div class="form-group">
                <label for="inputSensorIdentification">Sensor identification</label>
                <input type="text" value="{{sensor.identification}}" class="form-control"
                       id="inputSensorIdentification"
                       readonly aria-describedby="inputSensorIdentificationHelp">
                <small id="inputSensorIdentificationHelp" class="form-text text-muted">The serial number of the
                    sensor. Printend on the sensor itself.
                </small>
            </div>

            <button type="submit" class="btn btn-primary"
                    (click)="closeModal()"
            >Submit
            </button>

        </div>
    </div>
</div>