<nav ngxNavbarDynamicExpand class="navbar-light bg-light">
  <a class="navbar-brand" routerLink="" queryParamsHandling="merge">Heating control</a>
  <button class="navbar-toggler" type="button" (click)="collapse.toggle()"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ngx-navbar-collapse #collapse="ngxNavbarCollapse">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="" queryParamsHandling="merge">Home
          <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/sensors" queryParamsHandling="merge">Sensors</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/settings" queryParamsHandling="merge">Settings</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://gitlab.com/notdefine/heating-control">gitlab.com</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
           href="https://www.notdefine.de/projects.php?project=heizungssteuerung-mit-raspberry-pi">Homepage</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>
  </ngx-navbar-collapse>
</nav>
