<div class="d-flex flex-row flex-wrap">


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Identification</th>
            <th scope="col">ID (Datenbank)</th>
            <th scope="col">Bezeichnung (Datenbank)</th>
            <th scope="col">Farbe</th>
            <th scope="col">Wert</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let sensor of sensors" [class.table-warning]="!sensor.configured">
            <th scope="row">{{ sensor.identification }}</th>

            <td *ngIf="sensor.configured">{{ sensor.id }}</td>
            <td *ngIf="!sensor.configured" class=".table-danger">Neuer Sensor {{ sensor.id }}</td>

            <td>{{ sensor.name }}</td>
            <td [style.background-color]="this.differentColors[sensor.id]">
                <!-- {{this.differentColors[sensor.id]}} --></td>
            <td>{{ sensor.value }}°</td>
            <td>
                <button type="button" class="btn btn-secondary"
                        routerLinkActive="active"
                        routerLink="/settings/{{ sensor.identification }}"
                        queryParamsHandling="merge"
                        (click)="openModalWithComponent(sensor)">Sensor Einrichten
                </button>
            </td>
        </tr>

        </tbody>
    </table>

    <div *ngIf='sensors.length === 0' class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">Loading&hellip;</h5>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
    </div>
</div>