/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

html body app-root app-home carousel div.carousel.slide ol.carousel-indicators li {
  height: 10px;
  background-color: slategray;
}

html body app-root app-home carousel div.carousel.slide ol.carousel-indicators li.active {
  background-color: black;
}
