<div class="d-flex flex-row flex-wrap">

    <div *ngFor="let sensor of sensors" class="card p-2">

        <div class="card-body">
            <h5 class="card-title">{{sensor.name}}</h5>

            <ngx-charts-gauge
                    [view]="view"
                    [scheme]="{domain: [this.differentColors[sensor.id], '#A10A28', '#C7B42C']}"
                    [results]="[sensor]"
                    [min]="-10"
                    [max]="80"
                    [angleSpan]="240"
                    [startAngle]="-120"
                    [units]="'grad'"
                    [bigSegments]="9"
                    [smallSegments]="5"
                    (select)="onSelect($event)">
            </ngx-charts-gauge>

            <p class="card-text">
                <a routerLinkActive="active" routerLink="/settings/{{ sensor.identification}}"
                   queryParamsHandling="merge"
                   class="btn btn-secondary">Sensor {{ sensor.identification}}</a>
            </p>

        </div>

    </div>
    <div *ngIf='sensors.length === 0' class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">Loading&hellip;</h5>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>

    </div>
</div>